/* Main Style */
* {
  font-family: "Poppins", "sans-serif";
}
svg {
  max-width: 15px;
  min-width: 15px;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  font-size: 14px;
}
:root {
  --w-sideBar: 150px;
  --grey-color: #42526e;
  --light-bleu: #ebf3fe;
}
ul {
  list-style: none;
  padding: 0;
}
.side-bar {
  width: var(--w-sideBar);
}
.side-bar ul li a {
  color: #42526e;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.side-bar ul li a:hover,
.active_link {
  color: #fff !important;
  background-color: #0052cc;
}
.side-bar ul li a:hover svg,
.active_link svg {
  fill: #fff !important;
}
.side-bar ul li svg {
  fill: #42526e;
}
/*  */
.content {
  left: var(--w-sideBar);
  width: calc(100% - var(--w-sideBar));
}
.content .top_nav {
  height: 70px;
}
.content .top_nav ul li a {
  color: #42526e;
}
.content .top_nav .inp {
  position: relative;
}
.content .top_nav .inp svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  fill: #a7a7a7;
}
.content .top_nav .inp input {
  width: 100%;
  color: #a7a7a7;
  padding: 0.5rem 2rem !important;
  background-color: #ebf3fe;
  font-size: 14px;
}
.content_child {
  background-color: var(--light-bleu);
  display: grid;
  grid-template-columns: 78% 20%;
  justify-content: space-between;
}
.content_child .col_left h4 {
  color: var(--grey-color);
  font-weight: 600;
  font-size: 20px;
}
/* Main Style */
.content_child .btn_navigate .active {
  background-color: #fff;
  box-shadow: 0px 20px 1px 0px #ffff;
  border: transparent;
}
.content_child .setps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}
.content_child .setps .box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.content_child .setps svg {
  min-width: 14px;
  fill: #fff;
}
.content_child .setps .box .bar {
  width: 100%;
  border-radius: 10px;
  height: 10px;
  background-color: #f2f2f2;
}
.content_child .setps .box .bar.green {
  background-color: #24ae5c;
}
.content_child .setps .box .bar.yellow {
  background-color: #d5bd0a;
}
.content_child .container_table {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 100%;
}
.content_child .container_table {
  overflow-x: scroll;
}
.content_child table {
  border: transparent;
  min-width: 800px;
  border-spacing: 0 10px; /* Horizontal spacing, Vertical spacing */
  border-collapse: separate;
}
.content_child table th {
  color: var(--grey-color);
}
.content_child table tr td p {
  font-weight: 500;
  color: var(--grey-color);
}
.content_child table tr td {
  vertical-align: middle;
}
.content_child table tr {
  margin-bottom: 1rem;
}
.details_payments {
  overflow: hidden;
}
.details_payments svg {
  min-width: 20px;
}
.content_child .col_right .container_btns button {
  background-color: #fff !important;
}
.col_right .box p > span {
  max-width: 20px;
  min-width: 20px;
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  height: 20px;
  background-color: #42526e;
}
.col_right .box p > span svg {
  fill: #fff;
  min-width: 10px !important;
  max-width: 10px !important;
}
.col_left .alert_container {
  background-color: var(--light-bleu);
}
.col_left .alert_container * {
  color: #ed0000 !important;
  fill: #ed0000 !important;
}
.col_left .alert_container svg {
  min-width: 60px;
  max-width: 60px;
}
