/* Main Style */
* {
  font-family: "Poppins", "sans-serif";
}
svg {
  max-width: 15px;
  min-width: 15px;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  font-size: 14px;
}
:root {
  --w-sideBar: 150px;
  --grey-color: #42526e;
  --light-bleu: #ebf3fe;
}
ul {
  list-style: none;
  padding: 0;
}
.side-bar {
  display: none;
  width: var(--w-sideBar);
}
.side-bar ul li a {
  color: #42526e;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.side-bar ul li a:hover,
.active_link {
  color: #fff !important;
  background-color: #0052cc;
}
.side-bar ul li a:hover svg,
.active_link svg {
  fill: #fff !important;
}
.side-bar ul li svg {
  fill: #42526e;
}
/*  */
.content {
  /* left: var(--w-sideBar); */
  /* width: calc(100% - var(--w-sideBar)); */
  width: 100%;
}
.content .top_nav {
  height: 70px;
  display: none !important;
}
.content .top_nav ul li a {
  color: #42526e;
}
.inp {
  position: relative;
}
.inp svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  fill: #a7a7a7;
}
.inp input {
  width: 100%;
  color: #a7a7a7;
  padding: 0.5rem 2rem !important;
  background-color: #ebf3fe;
  font-size: 14px;
}
.content_child {
  background-color: var(--light-bleu);
  display: grid;
  grid-template-columns: 78% 20%;
  justify-content: space-between;
}
.content_child .col_left h4 {
  color: var(--grey-color);
  font-weight: 600;
  font-size: 20px;
}
/* Main Style */
.content_child .btn_navigate .active {
  background-color: #fff;
  box-shadow: 0px 20px 1px 0px #ffff;
  border: transparent;
}
.content_child .setps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}
.content_child .setps .box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.content_child .setps svg {
  min-width: 14px;
  fill: #fff;
}
.content_child .setps .box .bar {
  width: 100%;
  border-radius: 10px;
  height: 10px;
  background-color: #f2f2f2;
}
.content_child .setps .box .bar.green {
  background-color: #24ae5c;
}
.content_child .setps .box .bar.yellow {
  background-color: #d5bd0a;
}
.content_child .container_table {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  min-width: 100%;
  overflow-x: auto;
}
.content_child .container_table table {
  border: transparent;
  min-width: 800px;
  border-spacing: 0 10px; /* Horizontal spacing, Vertical spacing */
  border-collapse: separate;
}
.content_child table th {
  color: var(--grey-color);
}
.content_child table tr td p {
  font-weight: 500;
  color: var(--grey-color);
}
.content_child table tr td {
  vertical-align: middle;
}
.content_child table tr {
  margin-bottom: 1rem;
}
.details_payments {
  overflow: hidden;
}
.details_payments svg {
  min-width: 20px;
}
.content_child .col_right .container_btns button {
  background-color: #fff !important;
}
.col_right .box p > span {
  max-width: 20px;
  min-width: 20px;
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  height: 20px;
  background-color: #42526e;
}
.col_right .box p > span svg {
  fill: #fff;
  min-width: 10px !important;
  max-width: 10px !important;
}
.col_left .alert_container {
  background-color: var(--light-bleu);
}
.col_left .alert_container * {
  color: #ed0000 !important;
  fill: #ed0000 !important;
}
.col_left .alert_container svg {
  min-width: 60px;
  max-width: 60px;
}
/* Start Time line */
.timeline {
  position: relative;
  max-width: 250px;
}
.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: black;
}
.bx {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 2rem;
}
.bx.inactive * {
  font-weight: normal;
  color: #96a1b5 !important;
}
.bx > h2 {
  font-size: 16px;
  line-height: 1.6;
  position: absolute;
  min-width: 300px;
  max-width: 100%;
  left: 70%;
}
.bx .inf {
  padding-left: 1rem;
  text-align: center;
}
.bx .inf h3 {
  font-size: 16px;
}
.bx .inf p {
  font-size: 14px;
}
.bx span {
  left: 50%;
  top: 0;
  box-shadow: 0 2px 1px 1px #fff, 0 -2px 1px 1px #fff;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 50%;
}
.bx span.icon {
  width: 40px;
  height: 40px;
  background-color: #007c93;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bx span.icon svg {
  fill: #fff;
}
.bx span:not(.icon) {
  width: 10px;
  height: 10px;
  background-color: black;
}
/*  */
.content_child .container_analytics {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.content_child .container_analytics .box:not(:last-of-type) {
  border-right: 1px solid #ddd;
}
.content_child .container_analytics .box h4 {
  color: #3e3535;
  font-size: 17px;
}
.content_child .container_analytics .box h4 span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}
.content_child .container_analytics .box h4 span > svg {
  min-width: 8px !important;
  max-width: 8px !important;
  fill: #fff;
}
.content_child .container_analytics .inf p {
  font-size: 15px;
  font-weight: 500;
}
.content_child .container_analytics .inf p svg {
  min-width: 12px !important;
  max-width: 12px !important;
}
.content_child .container_analytics .inf .red {
  color: #ff4444 !important;
}
.content_child .container_analytics .inf .red {
  fill: #ff4444;
}
.content_child .container_analytics .inf .green {
  color: #05eb6e !important;
}
.content_child .container_analytics .inf .green {
  fill: #05eb6e;
}
.content_child .container_charts > div {
  height: 300px;
}
.content_child .container_charts > div,
.container_tables > div,
.content_child .latest_orders,
.content_child .team_container {
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  background-color: #fff;
}
.content_child .container_charts > div > h5,
.container_tables > div > h5,
.content_child .latest_orders h5,
.content_child .team_container h5 {
  font-size: 15px;
  margin-bottom: 1rem;
  color: var(--grey-color);
  font-weight: 600;
}
.container_tables > div table,
.content_child .latest_orders table,
.content_child .team_container table {
  border: transparent;
  border-spacing: 0 10px; /* Horizontal spacing, Vertical spacing */
}
.container_tables > div table thead th,
.content_child .latest_orders table thead th,
.content_child .team_container table thead th {
  font-size: 15px;
}
.container_tables > div table *,
.content_child .latest_orders table *,
.content_child .team_container table * {
  font-size: 14px !important;
}
.container_tables > div tr td img,
.content_child .latest_orders tr td img,
.content_child .team_container tr td img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.content_child .team_container table tr td {
  text-align: center;
}
.content_child .team_container table tr td span {
  width: 10px;
  /* margin-left: auto; */
  border-radius: 50%;
  display: block;
  height: 10px;
}
.content_child .team_container table tr td span.red {
  background-color: #f30e16;
}
.content_child .team_container table tr td span.green {
  background-color: #05eb6e;
}
/*  */
.iframe-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1rem;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 998px) {
  .content_child {
    display: flex;
    padding-left: 13px !important;
    padding-right: 13px !important;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .col_left .alert_container {
    flex-direction: column;
    padding-left: 13px !important;
    padding-right: 13px !important;
    justify-content: flex-end;
  }
  .container_tables,
  .container_charts {
    flex-direction: column;
  }
}
@media (max-width: 570px) {
  .timeline::before {
    left: 0;
    transform: translateX(0);
  }
  .bx {
    padding-left: 25px !important;
    gap: 10px;
    padding-left: 1rem;
    justify-content: flex-start !important;
  }
  .bx > h2 {
    position: static;
    min-width: fit-content;
    max-width: 60px;
  }
  .bx span {
    left: 0;
  }
  .bx .inf {
    padding-left: 0;
    min-width: 60px;
    text-align: left;
  }
}
/* Checkbox Style */
.checkbox-wrapper-4 * {
  box-sizing: border-box;
}
.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}
.checkbox-wrapper-4 .cbx:not(:last-child) {
  margin-right: 6px;
}
.checkbox-wrapper-4 .cbx:hover {
  background: rgba(0, 119, 255, 0.06);
}
.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}
.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: #07f;
}
.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: #07f;
  border-color: #07f;
  animation: wave-4 0.4s ease;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}
@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
/* End Check box Styles */
.table_wrap_list_product th,
.table_wrap_list_product th td {
  font-size: 14px !important;
  padding: 0.8rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.table_wrap_list_product tr {
  border-bottom: 1px solid #ddd;
}
.table_wrap_list_product tr img {
  width: 60px;
}
.table_wrap_list_product .num_item {
  font-size: 13px !important;
}
.table_wrap_list_product tr .colored {
  background-color: #f7faff;
}
.table_wrap_list_product tr td:nth-child(3) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.table_wrap_list_product tr td:nth-child(5) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.table_wrap_list_product .stage {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
}
.table_wrap_list_product .assignement img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
